-key xxxxxxxxxxxxxxxxxx
-secret xxxxxxxxxxxxxxxxxxxxx
-provider FOXBIT
-delayTime 10
-buyMode OTHER_ORDERS
-sellMode OTHER_OPERATIONS
-coin DOT
-currency BRL
-buyRegularRate 0.02
-sellRegularRate 0.01
-sellBreakdownRate -0.01
-minimumCoinAmount 0.001
-incDecPrice 0.001