-key xxxxxxxxxxxxx
-secret xxxxxxxxxxxxxxxx
-provider MERCADO_BITCOIN
-delayTime 10
-buyMode OTHER_ORDERS
-sellMode OTHER_OPERATIONS
-coin BTC
-currency BRL
-buyRegularRate 0.02
-sellRegularRate 0.01
-sellBreakdownRate -0.01
-minimumCoinAmount 0.01
-incDecPrice 0.001